.vscode/
.DS_Store
node_modules/
venv/
.venv
dist/
.env
*.log
coverage/
.idea/
*.iml
*.swp
*.bak
thumbs.db
*.class
*.jar
*.war
*.ear
*.pyc
__pycache__/
*.sqlite3
*.db
*.exe
*.dll
*.so
*.dylib
*.o
*.obj
*.out
*.log
*.tmp
*.old
*.orig
*.rej
*.zip
*.tar.gz
*.rar
*.7z
*.iso
*.log
*.log.*
npm-debug.log*




















